<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<div class="container" , initial-scale=1.0">
    <title>HOPE</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      
</head>
<body>
  
  <header>
    <h1>insert your meds</h1>
  </header>
  <div class="container">
    <h2>Insert Medication</h2>
    <form action="/insert" method="POST" >
      <label for="patient">Patient</label>
      <input type="text" id="patient" name="patient" required />
      <label for="medname">Medication Name:</label>
      <input type="text" id="medname" name="medname" required />

      <label for="photo">Photo of Medication:</label>
      <input type="file" id="photo" name="photo" accept="image/*" />

      <label for="time">Time to Take:</label>
      <select id="time" name="time">
        <option value="morning">Morning</option>
        <option value="evening">evening</option>
        <option value="night">Night</option>
      </select>
      <label for="rest">rest medication</label>
      <input type="number" id="rest" name="rest" required />

      <label for="level">Disease Stage (1-3):</label><!-- I don t belive we should insert it with every med maybe we should put it in the register-->
      <select id="level" name="level">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>

      <label for="notes">Notes:</label>
      <textarea id="notes" name="notes" rows="4"></textarea>

      <button type="submit">add a Medication</button>
    </form>
  </div>
  
</div>
<title>Document</title>    
</body>
</html>