<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Doctor Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/doctor.css') }}">
</head>
<body>

  <div class="dashboard-container">
    <div class="logout">
      <form action="/logout">
        <button type="submit">logout</button>
      </form>
    </div>

    <!-- Section: Patients List -->
    <div class="section">
      
       {% for patient in patients %}
          <h2>medication of {{patient.name}} </h2>        
          {% for medecine in medecines %}
            {%if patient.name == medecine.patient:%}          
              <div class="card">
                <strong>medecine name:</strong> {{medecine.med_name}}<br>      
                <strong>time:</strong>{{medecine.time}}</medecine></br>
                <strong>rest:</strong>{{medecine.rest}}<br>        
                <p><strong>notes</strong>{{medecine.notes}}<br></p>
          
                <div class="button-row">
                  <form action="/insert">
                      <button type="submit" class="btn">insert</button>
                  </form>
                  <form action="/delete">
                     <button type="submit" class="btn">delete</button>
                  </form>
                  <form action="/update">
                      <button type="submit" class="btn">update</button>
                  </form>
                </div>  
          
     
              </div>
            {% endif %}
          
           {% endfor %}
        {% endfor %}
        
    </div>     

    
    </div>

  </div>

</body>
</html>
