<form action="/register" class="great" method="POST">
    <div class="logo">Hope</div>
    <div class="nav-links">
    <div class="button-row">
      <button type="submit" class="btnless">Home</button>
      <button type="submit" class="btnless">login</button>
      <button type="submit" class="btnless">register</button>
    </div>
    
  </form>
  
  <nav>
    <div class="logo">Hope</div>
    <form class="nav-links button-row" method="POST">
      <button type="submit" class="btnless" formaction="/">Home</button>
      <button type="submit" class="btnless" formaction="/login">Login</button>
      <button type="submit" class="btnless" formaction="/register" >Register</button>
    </form>
  </nav>
