<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Interface</h1>
        <form action="/insert" method="POST">
            <button type="submit" >add a med</button>
        </form>
        
        <form action="/delet" method="POST">
            <button type="submit" >delet a med</button>
        </form>
        
        <form action="/update" method="POST">
            <button type="submit" >mange your med</button>
        </form>
        
        <form action="" method="POST">
            <button type="submit" >view your med</button>
        </form>
    </div>

</body>
</html>